<footer id="footer" class="container">
    <h1>Contact Us</h1>
    <section id="footer-box">
        <div class="footer-box-left">
            <div id="footer-box-left-block">
                <h3>At MYFOLIO your wish is our command,<br>
                    Feel free to reach out to us!</h3>
            </div>
            <div id="footer-box-left-block">
               <h3>Meet The Developers</h3>
               <p>Pranav Kore : <a href="mailto: pranav.kore@spit.ac.in">pranav.kore@spit.ac.in</a></p>
               <p>Advika Kharat : <a href="mailto: advika.kharat@spit.ac.in">advika.kharat@spit.ac.in</a></p>
               
            </div>
           
        </div>
        <div class="footer-box-right">
            <h5>Email : Mail@Spit.com</h5>
            <h5>Phone : 0000000000</h5>
            <h5>Address : Mumbai,India</h5>
        </div>
    </section>
    <div>&copy; 2023 MyFolio - All Rights Reserved </div>
</footer>