<section class="top-nav">
    <div class="myfolio">
        <a href="/">MYFOLIO</a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
        <li><a href="/" >Home</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#FAQ">FAQ</a></li>
        <li><a href="#footer">Contact</a></li>
        <li>
            <a class="nav-login" href="/login">
                <i class="fas fa-lock" id="nav-lock"></i>
                Login
            </a>
        </li>
    </ul>
  </section>