<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="home.css" id="theme-color">

</head>
<body>
    <div class="error">
        <h1>Error : Page Not Found</h1>
    </div>
</body>
<style>
    .error{
        margin:10% 0 auto auto;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background: -webkit-linear-gradient(#2ee778ae, #0c9beea7);
        color:rgb(255, 255, 255);
        padding:10px;

    }
</style>
</html>